<p>page5 works!</p>




    <!-- Return to Top -->
    <a href="javascript:" id="return-to-top"><div class="fa fa-arrow-up" aria-hidden="true"></div></a>
    <!-- Header Section Start -->
    <app-header>
        
    </app-header>
    <!-- Header Section Ended -->
    
    <!-- Navbar Section Start -->
    <nav id="navbar">
       <!-- Container Section Start -->
        <div class="container">
           <!-- navbar-toggle -->
            <!--button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                 <div class="fa fa-bars" aria-hidden="true" style="color:white;"></div>
            </!--button-->
           
          </div>
       <!-- Container Section Ended -->
    </nav>
    <!-- Navbar Section Ended -->
    
    <!-- Banner Section Start -->
    <section class="jumbotron" style="height: 288px; padding-top: 95px;">

        
        <div class="card-container">
            <a class="card" target="_blank" rel="noopener" >
              <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M5 13.18v4L12 21l7-3.82v-4L12 17l-7-3.82zM12 3L1 9l11 6 9-4.91V17h2V9L12 3z"/></svg>
              <span><a class="nav-link click-scroll" routerLink="/page2">Contact Nous</a>
              </span>
              <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>    </a>
        
          
          
        
           
           
        
          </div>



    <div class="container">
        <div class="row">
          <div class="col-md-12 inner-contant">
             <h3 data-aos="zoom-in" data-aos-duration="1000">VOTRE BOUTIQUE EN LIGNE😎</h3>
          </div>
        </div>
    </div>


    
    </section>
    <!-- Banner Section Ended -->
    
    <!-- Blog Section Start -->
    <section id="blog-page" style="padding-top: 40px;">
    <!-- Container Start -->
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <h3 class="heading1"> vos vêtements ici <span class="break">✨✨✨✨</span></h3>
            <figure>
              <img class="image" src="assets/images/page/cat.png" alt="The Pulpit Rock">
             
                <div>
                    <h1 id="dos7">les tricots</h1>
                    <h1>Cotonneux à 220g et 300 g</h1>
                    <h1>T-shirt sans dessin  à partir du coton +du polyester .<br>
                        Tee -shirt Col rond à 2000/ 2500  <br>
                        Col V :2500/3000</h1>
                </div>
              <div class="row">
                <div class="main_portfolio_content">
                    <div class="gallery_product col-md-3 col-sm-4 col-xs-6 filter portarits">
                        <img src="assets\images\marc'l\tric6.jpeg" class="img-responsive" alt="image-1" />
                        <div class="portfolio_images_overlay text-center">
                            <h6>tricot  <br>
                            <span>tric 1  - <a href="#"><i class="fa fa-comment" aria-hidden="true" style="color: white;"></i></a> (23)</span>
                            </h6>
                        </div>
                    </div>
                    

                    <div class="gallery_product col-md-3 col-sm-4 col-xs-6 filter landscapes portarits">
                        <img src="assets\images\marc'l\tric5.jpeg" class="img-responsive" alt="image-2" />
                        <div class="portfolio_images_overlay text-center">
                            <h6>tricot2 <br>
                            <span>tric 2  - <a href="#"><i class="fa fa-comment" aria-hidden="true" style="color: white;"></i> </a> (23)</span>
                            </h6>
                        </div>								
                    </div>
                    <div class="gallery_product col-md-3 col-sm-4 col-xs-6 filter weddings landscapes">
                        <img src="assets\images\marc'l\tric7.jpeg" class="img-responsive" alt="image-3" />
                        <div class="portfolio_images_overlay text-center">
                            <h6>tricot col v <br>
                            <span>tric 3  - <a href="#"><i class="fa fa-comment" aria-hidden="true" style="color: white;"></i> </a> (23)</span>
                            </h6>
                        </div>								
                    </div>
                    <div class="gallery_product col-md-3 col-sm-4 col-xs-6 filter weddings">
                        <img src="assets\images\marc'l\tric11.jpeg" class="img-responsive" alt="image-7" />
                        <div class="portfolio_images_overlay text-center">
                            <h6>tricot col rond  <br>
                            <span>tric 4  - <a href="#"><i class="fa fa-comment" aria-hidden="true" style="color: white;"></i> </a> (23)</span>
                            </h6>
                        </div>								
                    </div>
                    <div class="gallery_product col-md-3 col-sm-4 col-xs-6 filter fashion">
                        <img src="assets\images\marc'l\tric5.jpeg" class="img-responsive" alt="image-8" />
                        <div class="portfolio_images_overlay text-center">
                            <h6>tricot <br>
                            <span>tric 5  - <a href="#"><i class="fa fa-comment" aria-hidden="true" style="color: white;"></i> </a> (23)</span>
                            </h6>
                        </div>								
                    </div>
                    <div class="gallery_product col-md-3 col-sm-4 col-xs-6 filter portarits">
                        <img src="assets\images\marc'l\tric10.jpeg" class="img-responsive" alt="image-9" />
                        <div class="portfolio_images_overlay text-center">
                            <h6>tricot <br>
                            <span>tric 6 - <a href="#"><i class="fa fa-comment" aria-hidden="true" style="color: white;"></i> </a> (23)</span>
                            </h6>
                        </div>
                    </div>




                    <div class="gallery_product col-md-3 col-sm-4 col-xs-6 filter landscapes">
                        <img src="assets\images\blog\tri3.jpeg" class="img-responsive" alt="image-10" />
                        <div class="portfolio_images_overlay text-center">
                            <h6> tricot<br>
                            <span> tric 7 - <a href="#"><i class="fa fa-comment" aria-hidden="true" style="color: white;"></i> </a> (23)</span>
                            </h6>
                        </div>								
                    </div>
                    <div class="gallery_product col-md-3 col-sm-4 col-xs-6 filter weddings">
                        <img src="assets\images\blog\tri4.jpeg" class="img-responsive" alt="image-11" />
                        <div class="portfolio_images_overlay text-center">
                            <h6>tricot <br>
                            <span>tric 8  - <a href="#"><i class="fa fa-comment" aria-hidden="true" style="color: white;"></i> </a> (23)</span>
                            </h6>
                        </div>								
                    </div>
                   
                </div>
                <div class="load-more">
                    <button class="btn btn-default">load<br>more</button>
                </div>
              </div>









              <div class="container-fluid py-5">
                <div class="container pt-5 pb-3">
                    <h1 class="display-4 text-uppercase text-center mb-5" id="dos8"> clients satisfaits</h1>
                    <div class="row">
                        <div class="col-12 text-center mb-2">
                            <ul class="list-inline mb-4" id="portfolio-flters">
                                <li class="btn btn-outline-dark text-uppercase py-2 px-4 active" data-filter="*">
                                    <i class="fa fa-star text-primary mr-2"></i>
                                </li>
                                <li class="btn btn-outline-dark text-uppercase py-2 px-4" data-filter=".first">
                                    <i class="fa fa-laptop-code text-primary mr-2"></i>
                                </li>
                                <li class="btn btn-outline-dark text-uppercase py-2 px-4" data-filter=".second">
                                    <i class="fa fa-mobile-alt text-primary mr-2"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row portfolio-container">
                        <div class="col-lg-4 col-md-6 mb-4 portfolio-item first" id="couleur">
                            <div class="position-relative rounded overflow-hidden mb-2">
                                <img class="img-fluid w-100" src="assets\images\marc'l\tric9.jpeg" alt=" waouuuh">
                                <div class="portfolio-btn d-flex align-items-center justify-content-center">
                                    <a href="assets\images\marc'l\tric9.jpeg" data-lightbox="portfolio">
                                        <i class="fa fa-4x fa-plus text-primary"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mb-4 portfolio-item second"id="dos">
                            <div class="position-relative rounded overflow-hidden mb-2">
                                <img class="img-fluid w-100" src="assets\images\blog\tric14.jpeg" alt="jolie">
                                <div class="portfolio-btn d-flex align-items-center justify-content-center">
                                    <a href="assets\images\blog\tric14.jpeg" data-lightbox="portfolio">
                                        <i class="fa fa-4x fa-plus text-primary"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mb-4 portfolio-item first" id="dos7">
                            <div class="position-relative rounded overflow-hidden mb-2">
                                <img class="img-fluid w-100" src="assets\images\blog\tri6.jpeg" alt="wauuuh">
                                <div class="portfolio-btn d-flex align-items-center justify-content-center">
                                    <a href="assets\images\blog\tri6.jpeg" data-lightbox="portfolio">
                                        <i class="fa fa-4x fa-plus text-primary"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mb-4 portfolio-item second" id="dos8">
                            <div class="position-relative rounded overflow-hidden mb-2">
                                <img class="img-fluid w-100" src="assets\images\blog\tric16.jpeg" alt="">
                                <div class="portfolio-btn d-flex align-items-center justify-content-center">
                                    <a href="assets\images\blog\tric16.jpeg" data-lightbox="portfolio">
                                        <i class="fa fa-4x fa-plus text-primary"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mb-4 portfolio-item first" id="dos6">
                            <div class="position-relative rounded overflow-hidden mb-2">
                                <img class="img-fluid w-100" src="assets\images\blog\tric19.jpeg" alt="vert ">
                                <div class="portfolio-btn d-flex align-items-center justify-content-center">
                                    <a href="assets\images\blog\tric19.jpeg" data-lightbox="portfolio">
                                        <i class="fa fa-4x fa-plus text-primary"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mb-4 portfolio-item second" id="dos9">
                            <div class="position-relative rounded overflow-hidden mb-2">
                                <img class="img-fluid w-100" src="assets\images\blog\tric15.jpeg" alt="orange">
                                <div class="portfolio-btn d-flex align-items-center justify-content-center">
                                    <a href="assets\images\blog\tric15.jpeg" data-lightbox="portfolio">
                                        <i class="fa fa-4x fa-plus text-primary"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <br>

            <div>
                <h1 id="dos7">les pulls</h1>
                <h1>Pull à Capuche :5000</h1>
                
            </div>
            <br>

            <div class="row">
                <div class="main_portfolio_content">
                    <div class="gallery_product col-md-3 col-sm-4 col-xs-6 filter portarits">
                        <img src="assets\images\marc'l\pull2.jpeg" class="img-responsive" alt="image-1" />
                        <div class="portfolio_images_overlay text-center">
                            <h6>pull bleue  <br>
                            <span> avec capuche  - <a href="#"><i class="fa fa-comment" aria-hidden="true" style="color: white;"></i></a> (23)</span>
                            </h6>
                        </div>
                    </div>
                    

                    <div class="gallery_product col-md-3 col-sm-4 col-xs-6 filter landscapes portarits">
                        <img src="assets\images\marc'l\pull3.jpeg" class="img-responsive" alt="image-2" />
                        <div class="portfolio_images_overlay text-center">
                            <h6>pull cendre <br>
                            <span>avec capuche  - <a href="#"><i class="fa fa-comment" aria-hidden="true" style="color: white;"></i> </a> (23)</span>
                            </h6>
                        </div>								
                    </div>
                    <div class="gallery_product col-md-3 col-sm-4 col-xs-6 filter weddings landscapes">
                        <img src="assets\images\marc'l\pull4.jpeg" class="img-responsive" alt="image-3" />
                        <div class="portfolio_images_overlay text-center">
                            <h6>pull rouge <br>
                            <span>avec capuche  - <a href="#"><i class="fa fa-comment" aria-hidden="true" style="color: white;"></i> </a> (23)</span>
                            </h6>
                        </div>								
                    </div>
                    <div class="gallery_product col-md-3 col-sm-4 col-xs-6 filter weddings">
                        <img src="assets\images\marc'l\pull5.jpeg" class="img-responsive" alt="image-7" />
                        <div class="portfolio_images_overlay text-center">
                            <h6>pull noir  <br>
                            <span>avec capuche  - <a href="#"><i class="fa fa-comment" aria-hidden="true" style="color: white;"></i> </a> (23)</span>
                            </h6>
                        </div>								
                    </div>

                   
                    <div class="col-lg-4 col-md-6 mb-4 portfolio-item second"id="das3">
                        <div class="position-relative rounded overflow-hidden mb-2">
                            <img class="img-fluid w-100" src="assets\images\blog\pull5.jpeg" alt="pull">
                            <div class="portfolio-btn d-flex align-items-center justify-content-center">
                                <a href="assets\images\blog\pull5.jpeg" data-lightbox="portfolio">
                                    <i class="fa fa-4x fa-plus text-primary"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-4 portfolio-item second"id="das2">
                        <div class="position-relative rounded overflow-hidden mb-2">
                            <img class="img-fluid w-100" src="assets\images\blog\pull7.jpg" alt="jolie">
                            <div class="portfolio-btn d-flex align-items-center justify-content-center">
                                <a href="assets\images\blog\pull7.jpg" data-lightbox="portfolio">
                                    <i class="fa fa-4x fa-plus text-primary"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-4 portfolio-item second"id="dos">
                        <div class="position-relative rounded overflow-hidden mb-2">
                            <img class="img-fluid w-100" src="assets\images\marc'l\pull1.jpeg" alt="jaune ✨✨">
                            <div class="portfolio-btn d-flex align-items-center justify-content-center">
                                <a href="assets\images\marc'l\pull1.jpeg" data-lightbox="portfolio">
                                    <i class="fa fa-4x fa-plus text-primary"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-4 portfolio-item second">
                        <div class="position-relative rounded overflow-hidden mb-2" id="das5">
                            <img class="img-fluid w-100" src="assets\images\blog\pull9.jpg" alt="bleue ✨✨">
                            <div class="portfolio-btn d-flex align-items-center justify-content-center">
                                <a href="assets\images\blog\pull9.jpg" data-lightbox="portfolio">
                                    <i class="fa fa-4x fa-plus text-primary"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    

                    <div class="col-lg-4 col-md-6 mb-4 portfolio-item second"id="dos">
                        <div class="position-relative rounded overflow-hidden mb-2">
                            <img class="img-fluid w-100" src="assets\images\blog\tric18.jpeg" alt="jaune ✨✨">
                            <div class="portfolio-btn d-flex align-items-center justify-content-center">
                                <a href="assets\images\blog\tric18.jpeg" data-lightbox="portfolio">
                                    <i class="fa fa-4x fa-plus text-primary"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-4 portfolio-item second"id="das4">
                        <div class="position-relative rounded overflow-hidden mb-2">
                            <img class="img-fluid w-100" src="assets\images\blog\pull 6.webp" alt="bleue✨✨">
                            <div class="portfolio-btn d-flex align-items-center justify-content-center">
                                <a href="assets\images\blog\pull 6.webp" data-lightbox="portfolio">
                                    <i class="fa fa-4x fa-plus text-primary"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="load-more">
                    <button class="btn btn-default">load<br>more</button>
                </div>
              </div>

              <br>
              <br>

              <div>
                <h1 id="dos7"><strong>casquette</strong></h1>
                <h1>Casquette à 2000</h1>
              </div>

              <br>
              <br>

              <div class="gallery_product col-md-3 col-sm-4 col-xs-6 filter weddings">
                <img src="assets\images\marc'l\cap1.jpeg" class="img-responsive" alt="image-11" />
                <div class="portfolio_images_overlay text-center">
                    <h6>cap1 <br>
                    <span>  ✨✨✨✨✨- <a href="#"><i class="fa fa-comment" aria-hidden="true" style="color: white;"></i> </a> (23)</span>
                    </h6>
                </div>								
            </div>



            <div class="gallery_product col-md-3 col-sm-4 col-xs-6 filter weddings">
                <img src="assets\images\blog\cap6.jpg" class="img-responsive" alt="image-11" />
                <div class="portfolio_images_overlay text-center">
                    <h6>cap2<br>
                    <span>  ✨✨✨✨✨- <a href="#"><i class="fa fa-comment" aria-hidden="true" style="color: white;"></i> </a> (23)</span>
                    </h6>
                </div>								
            </div>


            <div class="gallery_product col-md-3 col-sm-4 col-xs-6 filter weddings">
                <img src="assets\images\marc'l\cap2.jpeg" class="img-responsive" alt="image-11" />
                <div class="portfolio_images_overlay text-center">
                    <h6>cap3<br>
                    <span>  ✨✨✨✨✨- <a href="#"><i class="fa fa-comment" aria-hidden="true" style="color: white;"></i> </a> (23)</span>
                    </h6>
                </div>								
            </div>

            <div class="gallery_product col-md-3 col-sm-4 col-xs-6 filter weddings">
                <img src="assets\images\blog\cap4.jpg" class="img-responsive" alt="image-11" />
                <div class="portfolio_images_overlay text-center">
                    <h6>cap4 <br>
                    <span>  ✨✨✨✨✨- <a href="#"><i class="fa fa-comment" aria-hidden="true" style="color: white;"></i> </a> (23)</span>
                    </h6>
                </div>								
            </div>


      <div class="row">
         <div class="col-xs-12 col-sm-12 col-md-6">
             <h4> date Posted by <span style="color: #c5b503">AIVILO</span>  😎:<span style="color: #2d8c3a"></span></h4>
         </div>
        
      </div>
      <hr>
    

      <!--app-page2>
        
      </!--app-page2-->
    <!-- Container Ended -->
    
    <!-- Container Start -->
    <div class="container">
       
        <h1><u><b>ARTICLE</b></u></h1>
       
        <h1>MARC'L STYLE</h1>
        <div class="row">
            <div class="col-md-12">
                <div class="inner-contant" style="padding-top: 30px; padding-bottom: 20px; ">
    <p data-aos="fade-up" data-aos-duration="1000">
        Les vêtements ne signifient rien tant que quelqu'un n'y habite pas. - Marc Jacobs
       
       <br>
        Le style est une façon de dire qui vous êtes sans avoir à le faire. – Rachel Zoé
    </p>
    <p data-aos="fade-up" data-aos-duration="1000">
        Il y en a de toutes les couleurs.
        Les tricots,las pull;et les casquettes.
        
    </p>
    <h6 class="pg3" data-aos="fade-up" data-aos-duration="1000">
       Des habits de qualités à votre disposition à moindre prix.
       Une réduction de 10% sur tous nos articles.
    </h6>
    
    <p data-aos="fade-up" data-aos-duration="1000">
        fetes y un tour sur le site et commandez vos articles préférés

    </p>
    <p data-aos="fade-up" data-aos-duration="1000">
        
        

    </p>
    <p data-aos="fade-up" data-aos-duration="1000">
       
       
    </p>
    
    <p data-aos="fade-up" data-aos-duration="1000">
       
    </p>
    <p data-aos="fade-up" data-aos-duration="1000">
      
    </p>
    <p data-aos="fade-up" data-aos-duration="1000">
        
    </p>
                </div>
                <hr>
            </div>
        </div>
    </div>
    <!-- Container Ended -->
    
    <!-- Container Start -->
   
    <!-- Container Ended -->
        
    <!-- Footer Section Start -->
    <app-footer>

    </app-footer>
        <!-- Footer Links -->
        