<header>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <a href="index.html" target="_blank"><p>www.AIVILO-OLIVIA.com</p></a>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-4">
                <a class="logo"><img src="assets\images\logo\oli_logo.png" alt="c'est mon logo" height="50px" width="250px"></a>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="social-icons">
                    <a href="#"><div class="fa fa-facebook-square" aria-hidden="true" style="color:#0072bc;font-size: 20px;"></div></a>
                    <a href="#"><div class="fa fa-twitter-square" aria-hidden="true" style="color:#00adef;font-size: 20px;"></div></a>
                    <a href="#"><div class="fa fa-youtube-square" aria-hidden="true" style="color:#ed1c24;font-size: 20px;"></div></a>
                    <a href="#"><div class="fa fa-instagram" aria-hidden="true" style="color:#f99d1c;font-size: 20px;"></div></a>
                    <a href="#"><div class="fa fa-dribbble" aria-hidden="true" style="color:#a36109;font-size: 20px;"></div></a>
                    <a href="#"><div class="fa fa-pinterest-square" aria-hidden="true" style="color:#ed145a;font-size: 20px;"></div></a>
                </div>
            </div>
        </div>
    </div>
</header>