
footer {
    border-top: 1px solid rgba(255, 255, 255, 0.27);
}

footer {
    padding-top: 50px;
    padding-bottom: 30px;
}

footer img {
    margin-top: 7px;
}

footer a {
    color: rgba(255, 255, 255, 0.59);
    font-size: 14px;
    font-weight: 500;
    line-height: 28px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

footer span a {
    font-size: 12px;
    cursor: pointer;
}

footer span a:hover {
    cursor: pointer;
}

footer a:hover {
    color: white;
    opacity: 1;
    text-decoration: none;
}

footer address {
    color: rgba(255, 255, 255, 0.59);
    line-height: 2;
}

footer h5 {
    font-size: 16px;
    padding-bottom: 10px;
    text-align: left;
    text-transform: uppercase;
    color: white;

}

footer h2 {
    color: white;

}

footer p {
    font-size: 12px;
    padding-right: 20px;
    padding-top: 30px;
    color: #4f4f4f;
}

footer textarea.form-control {
    width: 100%;
    height: auto;
}

footer .form-control {
    display: block;
    width: 100%;
    height: 40px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: white;
    background-color: #414141;
    border: none;
    border-radius: 0;
    margin-bottom: 10px;
}

footer .btn {
    float: right;
    background: white;
    color: #414141;
    border: none;
    width: 130px;
    height: 40px;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 0;
}

footer ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 0.5;
    font-size: 12px;
    font-style: italic;
    font-weight: 500;
    /* Firefox */
}

footer :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #8b8b8b;
}

footer ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #8b8b8b;
}

footer .btn-default:hover {
    color: #fff;
    background-color: #000000;
    border: 1px solid white;
}

@media (min-width: 992px) {
    footer form .col-md-6 {
        width: 47.5%;
        padding-right: 0;
    }
}


#couleur{
    
    background-color:#00FA9A;
}

#deta{
    color: white;
}

#dos{
background-color:#FFD700;
}

#dos6{
    background-color:#7CFC00;
    }

#dos7{
    background-color:#FF00FF;
        }



 #dos8{
     background-color:#FF8C00	;
            }
            
#dos9{
      background-color:#87CEFA;
                }

.ecriture{
    color: #FF8C00;
    text-justify: auto;
    text-transform: capitalize;
    font-family: "Helvetica Neue", "Arial",  sans-serif;
}

.ecrit{
    color:#FF00FF;
    font-family:"Times New Roman",Serif;
}