<p>page4 works!</p>


<header>
    <!-- Container Section Start -->
      <div class="container">
         <!-- Row Start -->
          <div class="row">
             <!-- First column Start -->
              <div class="col-xs-12 col-sm-4 col-md-4">
                  <a href="https://www.template.net/editable/websites" target="_blank"><p>www.AVILO-OLIVIA.com</p></a>
              </div>
             <!-- Second column Start -->
              <div class="col-xs-12 col-sm-4 col-md-4">
                  <a class="logo" href="index.html"><img src="assets\images\logo\oli_logo.png" alt="logo" width="200px" height="50px"></a>
              </div>
             <!-- Third column Start -->
              <div class="col-xs-12 col-sm-4 col-md-4">
                  <div class="social-icons">
                      <a href="#"><div class="fa fa-facebook-square" aria-hidden="true" style="color:#0072bc;font-size: 20px;"></div></a>
                      <a href="#"><div class="fa fa-twitter-square" aria-hidden="true" style="color:#00adef;font-size: 20px;"></div></a>
                      <a href="#"><div class="fa fa-youtube-square" aria-hidden="true" style="color:#ed1c24;font-size: 20px;"></div></a>
                      <a href="#"><div class="fa fa-instagram" aria-hidden="true" style="color:#f99d1c;font-size: 20px;"></div></a>
                      <a href="#"><div class="fa fa-dribbble" aria-hidden="true" style="color:#a36109;font-size: 20px;"></div></a>
                      <a href="#"><div class="fa fa-pinterest-square" aria-hidden="true" style="color:#ed145a;font-size: 20px;"></div></a>
                  </div>
              </div>
          </div>
        <!-- Row Ended -->
      </div>
    <!-- Container Section Ended -->
  </header>
  <!-- Header Section Ended -->
  
  <!-- Navbar Section Start -->
  <nav id="navbar">
     <!-- Container Section Start -->
      <div class="container">
         <!-- navbar-toggle -->
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <div class="fa fa-bars" aria-hidden="true" style="color:white;"></div>
          la vie</button>
          <div class="collapse navbar-collapse" id="myNavbar">
           <ul class="nav navbar-nav navbar-center">
              
              
               <li class="hidden-xs">-</li>
               <li><a href="#">RETOUR</a></li>
              
           </ul>
          </div>
        </div>
     <!-- Container Section Ended -->
  </nav>
  <!-- Navbar Section Ended -->
  
  <!-- Banner Section Start -->
  <section class="jumbotron" style="height: 288px; margin-bottom: 62px;padding-top: 95px;">
  <div class="container">
      <div class="row">
        <div class="col-md-12 inner-contant">
           <h1 data-aos="zoom-in" data-aos-duration="1000">De très beaux images</h1>
        </div>
      </div>
  </div>
  </section>
  <!-- Banner Section Ended -->
  
  <!-- Career Section Start -->
  
  <section class="portfolio">
    <div class="container-fluid">
     <div class="row" style="padding-bottom: 60px;">
             <button class="active btn btn-default filter-button" data-filter="all">ALL</button>
             <button class="btn btn-default filter-button" data-filter="portarits">THREE</button>
             <button class="btn btn-default filter-button" data-filter="landscapes">TWO</button>
             <button class="btn btn-default filter-button" data-filter="fashion">ALL</button>
             <button class="btn btn-default filter-button" data-filter="weddings">ONE</button>                        
     </div>
   <div class="row">
     <div class="main_portfolio_content">
         <div class="gallery_product col-md-3 col-sm-4 col-xs-6 filter portarits">
             <img src="assets\images\oli_photos\art10.jpg" class="img-responsive" alt="image-1" />
             <div class="portfolio_images_overlay text-center">
                 <h6>cool <br>
                 <span>web  - <a href="#"><i class="fa fa-comment" aria-hidden="true" style="color: white;"></i></a> (23)</span>
                 </h6>
             </div>
         </div>
         <div class="gallery_product col-md-3 col-sm-4 col-xs-6 filter landscapes">
             <img src="assets\images\page\tab4.jpg" class="img-responsive" alt="image-2" />
             <div class="portfolio_images_overlay text-center">
                 <h6>ah web <br>
                 <span>woooooo  - <a href="#"><i class="fa fa-comment" aria-hidden="true" style="color: white;"></i></a> (23)</span>
                 </h6>
             </div>								
         </div>
         <div class="gallery_product col-md-3 col-sm-4 col-xs-6 filter fashion weddings">
             <img src="assets\images\page\tab5.jpg" class="img-responsive" alt="image-3" />
             <div class="portfolio_images_overlay text-center">
                 <h6>trop top <br>
                     <span>coooooooool - <a href="#"><i class="fa fa-comment" aria-hidden="true" style="color: white;"></i> </a> (23)</span>
                 </h6>
             </div>								
         </div>
         <div class="gallery_product col-md-3 col-sm-4 col-xs-6 filter portarits fashion">
             <img src="assets\images\page\tab6.jpg" class="img-responsive" alt="image-4" />
             <div class="portfolio_images_overlay text-center">
                 <h6>c'est beau <br>
                 <span>l'art  -<a href="#"><i class="fa fa-comment" aria-hidden="true" style="color: white;"></i> </a> (23)</span>
                 </h6>
             </div>								
         </div>

        <div class="gallery_product col-md-3 col-sm-4 col-xs-6 filter fashion">
            <img src="assets\images\page\femm8.jpg"  height="700px"class="img-responsive" alt="image-12" height="800px" />
            <div class="portfolio_images_overlay text-center">
                <h6>c'est beauuuuu <br>
                <span>c'est beauuuuu  - <a href="#"><i class="fa fa-comment" aria-hidden="true" style="color: white;"></i> </a> (23)</span>
                </h6>
            </div>
            
            <div>
               <p id="dos8">  Une journée ne suffirait pas pour rendre hommage aux femmes, à leur existence et à la touche de féminité qu’elles apportent à l’humanité. </p> 
            </div>
        </div>

        <br>

        <div class="gallery_product col-md-3 col-sm-4 col-xs-6 filter fashion">
            <img src="assets\images\page\femm6.jpg"  height="700px"class="img-responsive" alt="image-12" height="800px" />
            <div class="portfolio_images_overlay text-center">
                <h6>c'est beauuuuu <br>
                <span>c'est beauuuuu  - <a href="#"><i class="fa fa-comment" aria-hidden="true" style="color: white;"></i> </a> (23)</span>
                </h6>
            </div>
            
            <div>
                <p id="dos8"> Célébration de la beauté naturelle de la femme noire à travers la nature sauvage de l'Afrique, hommage rendu à la mère, dénonciation de l'esclavage et de la colonisation, la femme africaine est vue sous l'angle sacré et naturel.</p>
            </div>
        </div><br>
        <div class="gallery_product col-md-3 col-sm-4 col-xs-6 filter fashion">
            <img src="assets\images\page\femm7.jpg"  height="700px"class="img-responsive" alt="image-12" height="800px" />
            <div class="portfolio_images_overlay text-center">
                <h6>c'est beauuuuu <br>
                <span>c'est beauuuuu  - <a href="#"><i class="fa fa-comment" aria-hidden="true" style="color: white;"></i> </a> (23)</span>
                </h6>
            </div>
            
            
            <div>
                <p id="dos8"> Une journée ne suffirait pas pour rendre hommage aux femmes, à leur existence et à la touche de féminité qu’elles apportent à l’humanité. </p>
            </div>
        </div>

<br>

        <div class="gallery_product col-md-3 col-sm-4 col-xs-6 filter landscapes portarits">
            <img src="assets\images\page\tbl6.jpg" class="img-responsive" alt="image-5" />
            <div class="portfolio_images_overlay text-center">
                <h6>c'est trop beau <br>
                <span>waouuuuuh  - <a href="#"><i class="fa fa-comment" aria-hidden="true" style="color: white;"></i> </a> (23)</span>
                </h6>
            </div>
            
            <div>
               <p id="couleur">  les perles sont étoiles sur la nuit de ta peau.
               </p>
            </div>
        </div><br>
   

        <div class="gallery_product col-md-3 col-sm-4 col-xs-6 filter fashion">
            <img src="assets\images\page\femm5.jpg"  height="700px"class="img-responsive" alt="image-12" height="800px" />
            <div class="portfolio_images_overlay text-center">
                <h6>c'est beauuuuu <br>
                <span>c'est beauuuuu  - <a href="#"><i class="fa fa-comment" aria-hidden="true" style="color: white;"></i> </a> (23)</span>
                </h6>
            </div>
            
            <div>
                <p id="dos6"> Une femme est un mélange d'amour, de bonté, d'esprit et de courage. Elle possède une particularité incroyable : celle de créer l'humanité. Aujourd'hui c'est la journée de la femme. Mais pour moi le respect pour la gente féminine c'est 365 jours, 24h/24. C'est pour cela que je te souhaite une bonne journée pour aujourd'hui, demain, après-demain,...
                </p>
            </div>
        </div>
<br>
     </div>
     <div class="load-more">
         <button class="btn btn-default">clic<br>ici</button>
     </div>
   </div>
 </div>
 </section>


  <!-- Career Section Ended -->
  
  <!-- Footer Section Start -->
  <footer>
  
      <!-- Footer Links -->
      <div class="container text-md-left">
          <div class="row">
  
              <!-- First column -->
              <div class="col-sm-6 col-md-3">
                  <a href="index.html"><img src="assets\images\page\fem2.jpg"  width="1200px" height="500px" alt="logo"></a>
                  <p>(C) 2022 All Rights Reserved. ALL BY ME AIVILO 😎😎<span><a href="https://www.template.net/editable/websites" target="_blank">AIVILO-OLIVIA</a></span>. <br> Designed by  Meeeeeeeeeeeeeeeeeeeeeeeeeeee😎😎<span><a href="https://www.template.net/editable/websites" target="_blank">template.net</a></span></p>
              </div>
              <!-- First column -->
  
              <!--Second column-->
              <div class="col-sm-6 col-md-3 mx-auto">
                  <h5 class="text-uppercase mb-4 mt-3 font-weight-bold" id="dos7">image</h5>
                  <address class="ecriture">
                  Des images qui font voyager,on découvre la beauté de la femme africaine<br/><br/>
                 tel: 98963195<br/><a href="https://www.template.net/editable/websites" class="ecriture">https://github.com/aivilo-adamah</a><a  href="mailto:adamaholivia444@gmail.com"> <h3 class="ecrit">envoyer moi un mail</h3> </a><br/><br/> 
                  </address>
              </div>
              <!-- Second column -->
  
              <!-- Third column -->
              <div class="col-md-2 mx-auto">
                  <h5 class="text-uppercase mb-4 mt-3 font-weight-bold" id="dos7">Site Links</h5>
                  <ul class="list-unstyled">
                      <li>
                          <a href="assets\HTML&CSS\clic.html" class="ecriture">controler le numéro</a>
                      </li>
                      <li>
                          <a href="assets\HTML&CSS\inscription.html" class="ecriture">Inscription </a>
                      </li>
                      <li>
                          <a href="assets\HTML&CSS\repectory.html" class="ecriture">surprise</a>
                      </li>
                     
                     
                  </ul>
              </div>
              <!-- Third column -->
  
              <!-- Fourth column -->
              <div class="col-md-4">
                  <h5 class="text-uppercase mb-4 mt-3 font-weight-bold" id="dos7">Quick Contact</h5>
                     <form>
                         <ul class="list-unstyled">
                            <li class="row">
                               <div class="col-md-6">
                                 <input required type="text" class="form-control" placeholder="Name">
                               </div>
                               <div class="col-md-6">
                                 <input required type="text" class="form-control" placeholder="Email">
                               </div>
                            </li>
                            <li class="row">
                               <div class="col-md-12">
                                 <textarea required class="form-control massage" placeholder="Your Message" rows="5" id="comment"></textarea>
                               </div>
                            </li>
                            <li class="row">
                               <div class="col-md-12">
                                 <button type="submit" class="btn btn-default ecriture"><h3>Contact us</h3></button>
                               </div>
                            </li>
                         </ul>
                     </form>
              </div>
              <!-- Fourth column -->
          </div>
      </div>
      <!-- Footer Links -->
  
  </footer>                        
  <!-- Footer Section Ended -->