<p>page3 works!</p>




    <!-- Return to Top -->
    <a href="javascript:" id="return-to-top"><div class="fa fa-arrow-up" aria-hidden="true"></div></a>
    <!-- Header Section Start -->
    <app-header>
        
    </app-header>
    <!-- Header Section Ended -->
    
    <!-- Navbar Section Start -->
    <nav id="navbar">
       <!-- Container Section Start -->
        <div class="container">
           <!-- navbar-toggle -->
            <!--button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                 <div class="fa fa-bars" aria-hidden="true" style="color:white;"></div>
            </!--button-->
           
          </div>
       <!-- Container Section Ended -->
    </nav>
    <!-- Navbar Section Ended -->
    
    <!-- Banner Section Start -->
    <section class="jumbotron" style="height: 288px; padding-top: 95px;">

        <div class="card-container">
            <a class="card" target="_blank" rel="noopener" >
              <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M5 13.18v4L12 21l7-3.82v-4L12 17l-7-3.82zM12 3L1 9l11 6 9-4.91V17h2V9L12 3z"/></svg>
              <span><a class="nav-link click-scroll" routerLink="/page2">Contact Nous</a>
              </span>
              <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>    </a>
        


    
      
           
        
            <a class="card" target="_blank" rel="noopener" >
              <svg xmlns="http://www.w3.org/2000/svg" style="margin-right: 8px" width="21.813" height="23.453" viewBox="0 0 179.2 192.7"><path fill="#ffa726" d="M89.4 0 0 32l13.5 118.4 75.9 42.3 76-42.3L179.2 32 89.4 0z"/><path fill="#fb8c00" d="M89.4 0v192.7l76-42.3L179.2 32 89.4 0z"/><path fill="#ffe0b2" d="m102.9 146.3-63.3-30.5 36.3-22.4 63.7 30.6-36.7 22.3z"/><path fill="#fff3e0" d="M102.9 122.8 39.6 92.2l36.3-22.3 63.7 30.6-36.7 22.3z"/><path fill="#fff" d="M102.9 99.3 39.6 68.7l36.3-22.4 63.7 30.6-36.7 22.4z"/></svg>
              
              <span><a class="nav-link click-scroll" routerLink="/page5">SITE de MARC'L</a>
              </span>

              <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
            </a>
        
          
        
            <a class="card" target="_blank" rel="noopener" >
              <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><g><rect fill="none" height="24" width="24"/></g><g><g><path d="M14.73,13.31C15.52,12.24,16,10.93,16,9.5C16,5.91,13.09,3,9.5,3S3,5.91,3,9.5C3,13.09,5.91,16,9.5,16 c1.43,0,2.74-0.48,3.81-1.27L19.59,21L21,19.59L14.73,13.31z M9.5,14C7.01,14,5,11.99,5,9.5S7.01,5,9.5,5S14,7.01,14,9.5 S11.99,14,9.5,14z"/><polygon points="10.29,8.44 9.5,6 8.71,8.44 6.25,8.44 8.26,10.03 7.49,12.5 9.5,10.97 11.51,12.5 10.74,10.03 12.75,8.44"/></g></g></svg>
              <span><a class="nav-link click-scroll" routerLink="/page4"> page_photos</a>
              </span>
              <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
            </a>
        
          </div>


          



    <div class="container">
        <div class="row">
          <div class="col-md-12 inner-contant">
             <h3 data-aos="zoom-in" data-aos-duration="1000">Vos logos😎</h3>
          </div>
        </div>
    </div>


    
    </section>
    <!-- Banner Section Ended -->
    
    <!-- Blog Section Start -->
    <section id="blog-page" style="padding-top: 40px;">
    <!-- Container Start -->
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <h3 class="heading1">les logos de Hatchful by Shopify  <span class="break">✨✨✨✨</span></h3>
            <figure>
              <img class="image" src="assets/images/page/cat.png" alt="The Pulpit Rock">
             

              <div class="row">
                <div class="main_portfolio_content">
                    <div class="gallery_product col-md-3 col-sm-4 col-xs-6 filter portarits">
                        <img src="assets\images\logo\oli_logo.png" class="img-responsive" alt="image-1" />
                        <div class="portfolio_images_overlay text-center">
                            <h6>Aivilo-olivia <br>
                            <span>logo  - <a href="#"><i class="fa fa-comment" aria-hidden="true" style="color: white;"></i></a> (23)</span>
                            </h6>
                        </div>
                    </div>
                    

                    <div class="gallery_product col-md-3 col-sm-4 col-xs-6 filter landscapes portarits">
                        <img src="assets\images\logo\pinterest_board_photo.png" class="img-responsive" alt="image-5" />
                        <div class="portfolio_images_overlay text-center">
                            <h6>Aivilo-olivia <br>
                            <span>mon logo  - <a href="#"><i class="fa fa-comment" aria-hidden="true" style="color: white;"></i> </a> (23)</span>
                            </h6>
                        </div>								
                    </div>
                    <div class="gallery_product col-md-3 col-sm-4 col-xs-6 filter weddings landscapes">
                        <img src="assets\images\logo\oli_logo.png" class="img-responsive" alt="image-6" />
                        <div class="portfolio_images_overlay text-center">
                            <h6>Aivilo <br>
                            <span>le logo  - <a href="#"><i class="fa fa-comment" aria-hidden="true" style="color: white;"></i> </a> (23)</span>
                            </h6>
                        </div>								
                    </div>
                    <div class="gallery_product col-md-3 col-sm-4 col-xs-6 filter weddings">
                        <img src="assets\images\logo\instagram_profile_image.png" class="img-responsive" alt="image-7" />
                        <div class="portfolio_images_overlay text-center">
                            <h6>Olivia  <br>
                            <span>à moi  - <a href="#"><i class="fa fa-comment" aria-hidden="true" style="color: white;"></i> </a> (23)</span>
                            </h6>
                        </div>								
                    </div>
                    <div class="gallery_product col-md-3 col-sm-4 col-xs-6 filter fashion">
                        <img src="assets\images\logo\pinterest_board_photo.png" class="img-responsive" alt="image-8" />
                        <div class="portfolio_images_overlay text-center">
                            <h6>mon logo <br>
                            <span>à moi  - <a href="#"><i class="fa fa-comment" aria-hidden="true" style="color: white;"></i> </a> (23)</span>
                            </h6>
                        </div>								
                    </div>
                    <div class="gallery_product col-md-3 col-sm-4 col-xs-6 filter portarits">
                        <img src="assets\images\logo\instagram_profile_image.png" class="img-responsive" alt="image-9" />
                        <div class="portfolio_images_overlay text-center">
                            <h6>olivia <br>
                            <span>le logo  - <a href="#"><i class="fa fa-comment" aria-hidden="true" style="color: white;"></i> </a> (23)</span>
                            </h6>
                        </div>
                    </div>
                    <div class="gallery_product col-md-3 col-sm-4 col-xs-6 filter landscapes">
                        <img src="assets\images\logo\logo_transparent.png" class="img-responsive" alt="image-10" />
                        <div class="portfolio_images_overlay text-center">
                            <h6>AIVILO-OLIVIA <br>
                            <span>mon logo  - <a href="#"><i class="fa fa-comment" aria-hidden="true" style="color: white;"></i> </a> (23)</span>
                            </h6>
                        </div>								
                    </div>
                    <div class="gallery_product col-md-3 col-sm-4 col-xs-6 filter weddings">
                        <img src="assets\images\logo\youtube_profile_image.png" class="img-responsive" alt="image-11" />
                        <div class="portfolio_images_overlay text-center">
                            <h6>aivilo <br>
                            <span>mon logo  - <a href="#"><i class="fa fa-comment" aria-hidden="true" style="color: white;"></i> </a> (23)</span>
                            </h6>
                        </div>								
                    </div>
                   
                </div>
                <div class="load-more">
                    <button class="btn btn-default">load<br>more</button>
                </div>
              </div>


      <div class="row">
         <div class="col-xs-12 col-sm-12 col-md-6">
             <h4> date Posted by <span style="color: #c5b503">AIVILO</span>  😎:<span style="color: #2d8c3a"></span></h4>
         </div>
         <div class="col-xs-12 col-sm-12 col-md-6">
            <ul class="social-links">
                
            </ul>
         </div>
      </div>
      <hr>
    

      <!--app-page2>
        
      </!--app-page2-->
    <!-- Container Ended -->
    
    <!-- Container Start -->
    
    <!-- Container Ended -->
    
    <!-- Container Start -->
   
    <!-- Container Ended -->
        
    <!-- Footer Section Start -->
    <app-footer>

    </app-footer>
        <!-- Footer Links -->
        