

#dis{
    color:brown;
    background-color: orange;
}


#dos{
    color:white;
    background-color: #7FFF00;
}


#das{
    color:white;
    background-color:#C71585 ;
    font-family: 'Roboto', sans-serif;
}


